@mixin mdb-toasts-theme($theme) {
  $surface: map-get($theme, surface);
  $onSurface: map-get($theme, onSurface);
  $divider: map-get($theme, divider);

  .toast {
    background: $surface;
    color: $onSurface;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  }

  .toast-header {
    background: $surface;
    color: $onSurface;
    border-bottom-color: $divider;
  }
}
